.featured-trailer {
  display: flex;
  align-items: center;
  position: relative;
  isolation: isolate;
  background: var(--color-neutral-800) url('../assets/images/demo-hero.jpg')
    no-repeat center/cover;
  min-height: 40vw;

  &::before {
    position: absolute;
    content: '';
    inset: 0;
    background-image: var(--color-gradient-neutral);
    z-index: -1;
  }
}
