$spacing: (
  none: 0,
  auto: auto,
  2xs: 8px,
  xs: 12px,
  base: 16px,
  md: 24px,
  lg: 32px,
  xl: 48px,
  2xl: 64px,
  3xl: 96px,
);

$measure: (
  short: 48ch,
  normal: 70ch,
);

$family: (
  base: 'Proxima Nova',
);

$fontSize: (
  sm: clamp(0.75rem, calc(0.72rem + 0.17vw), 0.84rem),
  base: clamp(1rem, calc(0.95rem + 0.23vw), 1.13rem),
  md: clamp(1.33rem, calc(1.27rem + 0.3vw), 1.5rem),
  lg: clamp(1.78rem, calc(1.7rem + 0.4vw), 2rem),
  xl: clamp(2.37rem, calc(2.26rem + 0.54vw), 2.66rem),
  2xl: clamp(3.16rem, calc(3.01rem + 0.72vw), 3.55rem),
);

$fontWeight: (
  normal: 400,
  bold: 700,
  extraBold: 800,
);

$lineHeight: (
  none: 1,
  normal: 1.5,
  relaxed: 1.75,
);

$letterSpacing: (
  tighter: -0.125em,
  tight: -0.0625em,
);

$colorPalette: (
  neutral-50: hwb(0 100% 0%),
  neutral-100: hwb(0 94% 6%),
  neutral-200: hwb(0 76% 24%),
  neutral-300: hwb(0 57% 43%),
  neutral-700: hwb(0 42% 58%),
  neutral-800: hwb(0 25% 75%),
  neutral-900: hwb(0 9% 91%),
  accent-700: hwb(20 22% 0%),
  accent-900: hwb(12 21% 5%),
  gold-500: hwb(47 9% 4%),
  system-success: hwb(135 20% 22%),
  system-danger: hwb(0 19% 0%),
  gradient-neutral:
    linear-gradient(180deg, hwb(0 9% 100% / 0) 0%, hwb(0 9% 100% / 0.8) 100%),
  gradient-accent:
    linear-gradient(90deg, hwb(12 24% 4% / 1) 0%, hwb(12 24% 4% / 0) 100%),
);

$borderRadius: (
  base: 0.5em,
  full: 9999px,
);
